$borderColorTestPage: #000;
$blueBg: #708FDD;
$textColor: #282c34;

@mixin d-flex-u($ai: center, $jc: center, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

