@import './assets/variables';

.person, .personActive{
  width: 320px;
  height: 80px;
  box-sizing: border-box;
  background-color: $blueBg;
  border-bottom: 2px solid $borderColorTestPage;
  &:last-child {
    border: none;
  }
}
.personActive {
  background: #3768de;
}