body {
  background-color: #353535;
}

.dd {
  height: 95vh;
  .BtnGreen {
    background-color: #4DAF5C;
  }
  .BtnRed {
    background-color: #DA4D2E;
  }
  .BtnBlue {
    background-color: #5B81E2;
  }
}
.bg {
  display: flex;
  justify-content: space-around;
  max-width: 1270px;
  height: 95%;
  background-color: #ccc;
  margin: 2%  auto;
  border-radius: 0 35px;
  border: 6px solid #6376D8;
}
.Left {
  display: flex;
  flex-direction: column;
  overflow: auto;

  button {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 11px 0;
    font-size: 17px;

  }
}
.Middle {
  overflow: auto;
  background-color: #fff;
  padding: 10px 40px;

  svg {
    margin: 30px 200px;
    cursor: pointer;
  }
}
.Right {
  overflow: auto;

  p {
    margin: 0 0 16px 10px;
  }
}

.Middle::-webkit-scrollbar {
  width: 20px;               /* ширина scrollbar */
}
.Middle::-webkit-scrollbar-track {
  background: #D9D9D9;        /* цвет дорожки */
}
.Middle::-webkit-scrollbar-thumb {
  background-color: #605656;    /* цвет плашки */
}


.Right::-webkit-scrollbar {
  width: 20px;               /* ширина scrollbar */
}
.Right::-webkit-scrollbar-track {
  background: #D9D9D9;        /* цвет дорожки */
}
.Right::-webkit-scrollbar-thumb {
  background-color: #605656;    /* цвет плашки */
}