header {
  background: #567EB9;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .LeftNav {
    padding: 20px 100px;
  }
  .options {
    display: flex;
    align-items: center;
    padding: 0 100px;
  }
  p {
    padding: 0 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 25px;
    color: #fff;

    &:hover {
      color: #1532CE;
      text-decoration: underline;
    }
  }
}
